.header__navbar {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    display: flex;
    align-items: center;
    position: relative;
}

.header__logo {
    margin-right: auto;
    display: block;

    img {
        display: block;
        width: 24px;
        height: auto;
    }
}

.header__nav-collapse {
    position: absolute;
    top: 6.375rem;
    left: 0;
    width: 100%;
    padding: 0.75rem 1rem;
    background: $white;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba($black, 0.25);
    visibility: hidden;
    opacity: 0;
    transform: scale3d(0.95, 0.95, 1) translate3d(0, 1rem, 0);
    transition: visibility 0.15s, opacity 0.15s, transform 0.15s;

    &.show {
        visibility: visible;
        opacity: 1;
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
}

.header__nav {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.header__nav-link {
    font-family: $font-family-title;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: $black;
    padding: 0.5rem 0;
    display: block;
    text-decoration: none;
    text-align: center;
}

// @media (min-width: 991px) {
//     .header__navbar {
//         padding-top: 3.125rem;
//         padding-bottom: 3.125rem;
//     }

//     .header__logo {
//         margin-top: 8px;
//         flex: 1 0 146px;
//         max-width: 146px;

//         img {
//             height: auto;
//         }
//     }

//     .header__nav-collapse {
//         position: static;
//         padding: 0;
//         background: none;
//         border-radius: 0;
//         visibility: visible;
//         opacity: 1;
//         transform: none;
//         display: flex;
//     }

//     .header__nav {
//         display: flex;
//         width: 100%;
//         justify-content: center;
//         margin-top: 3px;
//         margin-left: -7px;
//     }

//     .header__nav-link {
//         font-size: 0.75rem;
//         padding: 1rem;
//         color: $dark-blue;
//         transition: color 0.15s;

//         &:hover,
//         &:focus {
//             color: $gray;
//         }
//     }
// }
